spring:
  datasource:
    url: jdbc:mysql://localhost:3306/seminar2025?allowPublicKeyRetrieval=true
    username: user
    password: somepassword
    driver-class-name: com.mysql.cj.jdbc.Driver
  flyway:
    enabled: true
  mvc:
    async:
      request-timeout: 300000

jwt:
  secret: this-is-a-very-long-and-secure-secret-key-for-jwt-token-generation
  expiration-in-ms: 86400000

server:
  error:
    include-message: always
    include-exception: true
    include-stacktrace: always

logging:
  level:
    root: INFO
    org.springframework.web: DEBUG
    org.springframework.web.reactive.function.client: DEBUG
    reactor.netty.http.client: DEBUG
    org.springframework.data.jdbc: DEBUG
    org.springframework.jdbc.core.JdbcTemplate: DEBUG
    org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate: TRACE